@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .kbd-navigation .square:focus {
    background: #da4d4d;
  }